.element__like-button {
  grid-column: 2;
  grid-row: 2;
  background-color: #fff;
  background-image: url(../../../images/like.svg);
  border: none;
  box-shadow: none;
  width: 22px;
  height: 19px;
}
.element__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}
